@import "tailwindcss";
/* @plugin "daisyui"; */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

:root {
  --bg-main: #161616;
  --bg-card: #1a1a1a;
  --text-main: #f5f5f5;
  --text-secondary: #aaaaaa;
  --primary-color: #00c2ff;
  --accent-color: #e94560;
  --shadow-glow: 0 0 15px #ffadad;

  --font-main: "Inter", sans-serif;
}
body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-main);
  margin: 0;
}
.parent-navbar {
  /* padding: 10px 10px;
  background: transparent; */
}
.navbar {
  /* margin: 10px 10px; */
  /* background: linear-gradient(
    145deg,
    rgba(20, 20, 20, 0.8),
    rgba(10, 10, 10, 0.8)
  ); */
  /* background: transparent;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
  z-index: 111;
  padding: 12px 24px; */
}

nav,
ul,
li {
  cursor: pointer;
}

.skill-card {
  background: linear-gradient(
    145deg,
    rgba(20, 20, 20, 0.8),
    rgba(10, 10, 10, 0.8)
  );
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 40px 24px;
}
/* 
.content-section {
  background: linear-gradient(145deg, #141414f2, #0a0a0af2);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 215, 0, 0.1);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
} */
